{% extends 'catalogue/base_catalogue.html' %}

{% block title %} {{ product.title }} {% endblock %}

{% block data %}
    <div class="product-detail">
        <a href="{% url 'products_list' %}" class="back">back</a>

        <div class="product-image">
            {% for pi in product.images.all %}
                <img src="{{ pi.image.url }}"/>
            {% endfor %}
        </div>

        <ul>
            <li>title: {{ product.title }}</li>
            <li>upc: {{ product.upc }}</li>
            <li>brand: {{ product.brand }}</li>
            <li>category: {{ product.category }}</li>
            <li>product_type: {{ product.product_type }}</li>
            <li>description: {{ product.description }}</li>
            <li>partners:
                <ul>
                    {% for partner in product.stocks %}
                        <li>
                            <span>partner: {{ partner.partner.name }}</span>
                            <span>title: {{ partner.product.title }}</span>
                            <span>price: {{ partner.price }}</span>
                        </li>

                    {% endfor %}
                </ul>
            </li>
        </ul>

        <div class="add-basket">
            <form method="post" action="{% url 'add_to_basket' %}">
                {% csrf_token %}
                <input type="hidden" name="product_id" value="{{ product.id }}"/>
                <input type="hidden" name="next" value="{{ request.build_absolute_uri }}" />
                <input type="text" name="quantity" value="1"/>
                <button type="submit"> add to basekt</button>
            </form>
        </div>


    </div>
{% endblock %}